DOMAIN_NAME=yourdomain.com
# Set to 'false' if using a Reverse Proxy (Traefik/Nginx Proxy Manager) and don't need to do SSL yourself
ENABLE_SSL=true
#Set to the upstream reverse proxy, or blank to disable
PROXY_NEXT_HOP=
#For the certbot certificates
CERTBOT_EMAIL=admin@yourdomain.com